/* You can add global styles to this file, and also import other style files */
.verified {
    color: green;
}

.closed {
    display: none;
}

.border {
    text-decoration: underline;
    width: 100%;
}